{% load static %}
<!DOCTYPE HTML>
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>번역기</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>	
		<script src="{% static "js/init.js" %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
	</head>
	<style>
		.container1 {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 100px;
			padding:30px;
			
		}
		
		.t_button {
			margin-left: 100px;
			margin-right: 100px;
			margin-top: 20px;
			font-weight: bold;
		
		}
		
		#data_view {
			background-color: #BDECB6;
			border-radius: 10px;
		}
		a{	
			color:black;	
			text-decoration: none;
			font-weight: bold;
		}
</style>
	<body class="no-sidebar">

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="/main"><strong style="color: red;">방</strong>구석 <strong style="color: blue;">한</strong>국여행</a></h1>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/main/dataMain">데이터 보러가기</a></li>
							<li><a href="/main/japTags">해시태그</a></li>
							<li><a href="/main/kotravel/tourinfo">관광정보</a></li>
							<li id="data_view"><a href="" style="color: white;">번역기</a></li>
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->
		
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
	<div id="page">

		<!-- Main -->
		<div id="main" class="container" >
			<div>
				<div class="12u">
					<form action="/translator" method="get">
					<span style="font-size: 50px; font-weight: bold; color: #666362">번역기</span>
						<div class="container1">
							<div class="left">
								<div style="font-size: 30px; font-weight: bold;">한국어</div>
								<br>
								<div>
									<textarea name="text" rows="7" cols="40" style="font-size: 25px;">{{text}}</textarea>
								</div>
							</div>
							<div class="t_button">
								<input type="submit" value="번역하기" style="font-weight: bold; font-size: 20px; padding: 10px; background-color:#BDECB6;
								color: white; border-radius: 10px; border-color :#BDECB6">
							</div>
							<br>
							<br>
							<div class="right">
								<div style="font-size: 30px; font-weight: bold;">일본어</div>
								<br>
								<div>
									<textarea rows="7" cols="40" id="result_string" style="font-size: 25px;" readonly>{{result}}</textarea>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
		<!-- Main -->

	</div>
	<!-- /Main -->


	<!-- footer -->
		<div id="copyright" class="container">
			3조: <strong style=" color: #666362;">방구석 한국여행 </strong><br><span><strong style=" color: #666362;">조원:</strong>우성욱 박효정 장민선 주연서</span>
		</div>


	</body>
</html>